body{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-left: 100px;
	border: 15px inset #578af7;
	padding: 50px;
	text-align:center;
	background-color:powderblue;
    }
input{
	margin:3px;
     }
ul{
	text-align:left;
        list-style-position: inside;
  }
ol{
	text-align:left;
	list-style-position: inside;
  }

.li1{
     padding-left: 30%;
    }
.li2{
     padding-left: 5%;
    }

.myButton {
	box-shadow: 0px 0px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #00375c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:8px 36px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #005d9c 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}